$color-primary: #00bcd4;
$color-primary-dark: #0097a7;
$color-bg-header: #263238;
$color-bg-footer: #37474f;
$color-footer-text: #b2ebf2;
$color-slider-rail: #455a64;
$color-white: #eceff1;
$color-dark-text: #cfd8dc;
$font-family-main: 'Inter', sans-serif;
